.Upload {
    display: flex;
    flex-direction: column;
    width:100%;
    font-family: 'Kaisei Opti', serif;
   font-size: 25px;
}
.Line {
    width: 95%;
    height:3px;
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: row;
    margin:auto;
}
.Title {
   display: flex;
   font-family: 'Kaisei Opti', serif;
   font-size: 25px;
   margin-top:7px;
   color:#fff;
   margin-left: 20px;
}
.Header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:70px;
    margin:auto;
    justify-content: space-between;
    background-color: rgb(72, 133, 187);
}
.HeaderContainer {
    display: flex;
    flex-direction: column; 
    height: 70px!important;
}
.setupContainer {
   display:flex;
   flex-direction: row;
   margin: 5px;
}

.UploadIcon {
    display: flex;
    flex-direction: column;
    margin: auto;
    width:150px;
    margin-top:70px;
} 
.UploadContainer {
    cursor: pointer;
}
.TextFont {
    font-family: 'Kaisei Opti', serif;
   font-size: 20px;
}
.RadioContainer {
    display: flex;
    flex-direction: row;
    margin:auto;
    margin-top: 70px;
    z-index: 20;
    background-color: #fff;
    width:250px;
    border-radius: 10px;
    height:140px;
    padding-left:40px;
    border: 4px solid #4793D1;
}

button {
    width: 200px!important;
    height: 50px!important;
}
.shade {
    position:fixed;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.6;
    z-index:14;
}